body {
  font-family: "Roboto", sans-serif;
}
/*-Navigation bar styling*/

a.nav-title-styling {
  color: rgba(0, 0, 0, 0.5);
}


/*-Header image styling-*/

.page-header {
  background-image: url("/assets/images/jumbotron-background.jpg");
  height: 70vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/*-Header image-*/

/*-Jumbotron-*/

.jumbotron {
  background-color: transparent !important;
  padding-top: 100px;
}

.jumbotron-header {
  font-size: 70px;
  font-weight: 300;
  text-transform: uppercase;
}

.jumbotron-divider {
  width: 75px;
}

.section-divider {
  width: 200px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*Footer*/

footer {
  padding-top: 100px;
  padding-bottom: 20px;
  color: hsla(210, 10%, 23%, 0.6);
  text-align: center;
}

.footer-links a i {
  color: hsla(210, 10%, 23%, 0.6);
  text-decoration: none;
  background-color: transparent;
  font-size: 20px;
  padding: 0 10px;
  text-align: center;
}

/*Media Queries*/

/*-Tablet and mobile  992px */

@media only screen and (max-width: 992px) {
  /*Header & Jumbotron*/

  .page-header {
    background-size: cover;
    background-attachment: scroll; /*stops image scrolling on mobile*/
    background-position: center;
  }}