{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row featurette mt-5">
        <div class="col-md-7">

            <form class="form-width" method="POST" action="">
                <h4 class="mb-3"><i class="fas fa-plus-circle"></i>Add a recipe</h4>
                <p><i class="fas fa-exclamation"></i> Seperate ingredients and method steps using a comma</p>

                <!--Recipe name-->

                <label for="recipe_name" class="sr-only">Recipe name</label>
                <input type="text" name="recipe_name" id="recipe_name" class="form-control" placeholder="Recipe name"
                    required autofocus />

                <!--Category-->


                <!--Ingredients-->

                <label for="ingredients" class="sr-only">Ingredients</label>
                <input type="text" name="ingredients" id="ingredients" class="form-control mt-3"
                    placeholder="Ingredients" required autofocus />

                <!--Method-->

                <label for="method" class="sr-only">Method</label>
                <input type="text" name="method" id="method" class="form-control mt-3" placeholder="Method" required
                    autofocus />

                <!--Submit button-->
                <button class="btn btn-outline-dark btn-sm mt-3" type="submit">Submit your recipe <i
                        class="fas fa-sign-in-alt"></i></button>
            </form>
        </div>
        <div class="col-md-5">
            <img src="{{  url_for('static', filename ='images/roast-chicken.jpg')  }}" alt="XXXXXX">
        </div>
    </div>
</div>
{% endblock %}