{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row featurette mt-5">
        <div class="col-md-7">

            <form class="form-width" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
                <h4 class="mb-3">Edit a recipe</h4>

                <!--Recipe name-->

                <label for="recipe_name" class="sr-only">Recipe name</label>
                <input type="text" name="recipe_name" id="recipe_name" class="form-control"
                    value="{{- recipe.recipe_name -}}" required autofocus />

                <!--Category - loops through category db collection to display each category-->

                <select class="form-select mt-3" for="recipe_name" id="category_name" name="category_name"
                    aria-placeholder="Recipe Category" required>
                    {% for category in categories %}
                    {% if category.category_name == recipe.category_name %}
                    <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                    {% else %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>

                <!--Ingredients-->

                <label for="ingredients" class="sr-only">Ingredients</label>
                <textarea name="ingredients" id="ingredients" class="form-control mt-3" rows="1"
                    placeholder="Ingredients" value="{{ recipe.ingredients }}" required autofocus> </textarea>

                <!--Method-->

                <label for="method" class="sr-only">Method</label>
                <input type="text" name="method" id="method" class="form-control mt-3" value="{{- recipe.method -}}"
                    required autofocus />

                <p class="text-muted mt-3"><i class="fas fa-exclamation"></i> Input each ingredient and method step on a
                    new
                    line</p>

                <!--Submit button-->

                <button class="btn btn-outline-dark btn-sm mt-3" type="submit">Edit your recipe <i
                        class="fas fa-check"></i></button>
                <!--Delete button-->
                <a class="btn btn-outline-dark btn-sm mt-3" data-toggle="modal" data-target="#deleteModal">
                    Delete <i class="fas fa-trash-alt"></i>
                </a>
                <!--Cancel button-->
                <a class="btn btn-outline-dark btn-sm mt-3" href="{{  url_for('recipes')  }}" role="button">Cancel <i
                        class="fas fa-times"></i></a>

            </form>
        </div>
        <div class="col-md-5">
            <img src="{{  url_for('static', filename ='images/avocado-toast.jpg')  }}" alt="Avocado toast">
        </div>
    </div>
</div>

<!--Modal template used from Bootstrap docs-->

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Delete this recipe?</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                This action cannot be undone
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark btn-sm" data-dismiss="modal">No, don't delete</button>
                <a class="btn btn-outline-dark btn-sm" href="{{  url_for('delete_recipe', recipe_id=recipe._id)  }}">
                    Delete this recipe
                </a>
            </div>
        </div>
    </div>
</div>


{% endblock %}