{% extends "base.html" %}
{% block content %}
<!--Main body-->

<div class="container">
        <div class="row featurette mt-5">
        <div class="col-md-7">
            <h4>Welcome to C O O K</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod amet dicta et aut tempore obcaecati repudiandae facilis,
            illum deserunt velit reiciendis itaque doloremque nulla deleniti facere voluptas ullam nostrum excepturi reprehenderit
            quisquam. Veniam tempora fugit at non deserunt repellendus delectus!</p>
        </div>
        <div class="col-md-5">
            <img src="{{  url_for('static', filename ='images/roast-chicken.jpg')  }}" alt="XXXXXX">
        </div>
</div>



{% endblock %}
