{% extends "base.html" %}
{% block content %}

<!--Page intro - explains purpose of site -->

<div class="container">
    <div class="row featurette mt-5">
        <div class="col-md-7">
            <h4>Welcome to C O O K</h4>
            <p>C O O K is a community for those interested in sharing and finding recipes from fellow cooks of all levels.</p>
            <p>Once you have created an account or logged in, you will be able to create, edit and delete your own recipes and will have full access to all recipes submitted by users in the C O O K community.</p>
            <p>Please create an account or log in to enjoy the full benefits of C O O K.</p>
        </div>
        <div class="col-md-5">
            <img src="{{  url_for('static', filename ='images/veggie-bowl.jpg')  }}" alt="Roasted vegetables">
        </div>
    </div>

    {% endblock %}