{% extends "base.html" %}
{% block content %}
<!--Main body-->
    <div class="container text-center mt-5">
        <!--Log in form-->
      <form method="POST" name="login" class="form-width">
        <p class="lead"><i class="fas fa-utensil-spoon"></i></p>
        <p class="font-weight-normal">Please sign in</p>
        <hr class="page-divider" />
        <!--Email input-->
        <label for="email" class="sr-only">Email address</label>
        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          placeholder="Enter your email address"
          required
          autofocus
          required
        />
        <!--Password input-->
        <label for="password" class="sr-only">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          placeholder="Password"
          required
        />
        <div>
            <hr class="page-divider" />
<!--Submit button-->
<button class="btn btn-outline-dark btn-sm"
            type="submit">Log in</button>
          <p class="mt-4">
            Not yet a member?<a class="nav-link" href="register.html">Register here</a>
          </p>
        </div>
      </form>
    </div>

{% endblock %}