{% extends "base.html" %}
{% block content %}

<!--For loop which iterates through the records in the recipes collection from MongoDB-->

<!-- {% for recipe in recipes %}
{{ recipe.recipe_name}}<br>
{{ recipe.ingredients }}<br>
{{ recipe.method }}<br>
{{ recipe.category_name }}<br>
{% endfor %} -->


<div class="container">
    <a class="btn btn-outline-dark btn-sm mt-5 mb-4" href="{{  url_for('add_recipe')  }}" role="button">Add a new recipe</a>
    <div class="accordion accordion-flush">
        {% for recipe in recipes %}
        <div class="accordion-item ">
            <div class="row">

                <h2 class="accordion-header" id="flush-headingOne">

                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-{{ recipe._id }}" aria-expanded="false"
                        aria-controls="collapse-{{ recipe._id }}">
                        {{ recipe.recipe_name}}
                    </button>
                </h2>

            </div>

            <div id="collapse-{{ recipe._id }}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div>
                        {% if session.user|lower == recipe.created_by|lower %}
                        <div>
                            <a href="{{  url_for('edit_recipe', recipe_id=recipe._id)  }}" class="link-secondary">
                                <i class="fas fa-pen"></i>
                            </a>
                            <a href="{{  url_for('delete_recipe', recipe_id=recipe._id)  }}" class="link-secondary ml-2">
                                <i class="fas fa-times"></i>
                            </a>
                        </div>
                        {% endif %}
                        <p class="text-muted fst-italic small-text"> Category: {{ recipe.category_name }}</p>
                        <p> Ingredients: <span class="fw-light">{{ recipe.ingredients }}</span></p>
                        <p class="fw-light">{{ recipe.method }}</p>
                        <p class="text-muted fst-italic small-text"> added by <span class="fw-bold">
                                {{ recipe.created_by }} </span> </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}