{% extends "base.html" %}
{% block content %}


<div class="container">
    <div class="row featurette mt-5">
        <div class="col-md-7">

            <h4>Hello {{ username }}!</h4>
            <h5 class="mt-3">All users</h5>
            <p>Below you will find all registered users, as admin you can delete users from the database. Currently
                there are <span class="fw-bold">{{users|length}}</span> users registered in the user database.</p>

            {% for user in users %}
            <div class="row mt-1">
                <div class="col-8">
                    <h6>{{ user.username }}</h6>
                </div>
                <div class="col-4">
                    <a href="#" class="btn btn-outline-dark btn-sm ml-4">Delete <i class="fas fa-times"></i></a>
                </div>
            </div>
            {% endfor %}

        </div>

        <div class="col-md-5">
            <img src="{{  url_for('static', filename ='images/avocado-toast.jpg')  }}" alt="Fried Eggs">
        </div>

    </div>
</div>
{% endblock %}